{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block meta %}
<!-- NOTE(joshblum): This prevents leaking the password reset token via the
   Referer header to any 3rd party apps on the page. -->
<meta name="referrer" content="origin">
{% endblock %}

{% block title %}{% trans "Confirm password reset" %}{% endblock %}

{% block content %}
{% if validlink %}
<style>
  #msgs {
      font-size: 10px;
      display: contents;
      text-align: left;
      list-style-position: inside;
  }  

  #msgs_li {
      width: 70%;
  }

  #bt {
      margin-top: 10px;
  }

  .helptext {
      display: block;
      font-size: 12px;
  }

  #label_custom {
      width: 40%;
      text-align: right; 
  }   

  #input_custom {
      width: 50%;
  }       
</style>
<div class="row align-items-start">
  <div class="col-0 col-sm-4 col-md-4" >
  </div>
  <div class="col-12 col-sm-4 col-md-4" >
      <center>
        <div id="main_form">
          <p>{% trans "Enter your new password below to reset your password:" %}</p>
          <form method="post" action="">
              {% csrf_token %}
                <p>
                    <label id="label_custom" for="id_new_password1">{% trans 'New password' %}</label>
                    <input id="input_custom" type="password" name="new_password1" autocomplete="new-password" required="" id="id_new_password1">
                </p>
                <p>
                    <label id="label_custom" for="id_new_password2">{% trans 'New password confirmation' %}:</label>
                    <input id="input_custom" type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2">
                </p>              
                <ul id="msgs">
                    <li id="msgs_li">{% trans 'Your password can’t be too similar to your other personal information.' %}</li>
                    <li id="msgs_li">{% trans 'Your password must contain at least 8 characters.' %}</li>
                    <li id="msgs_li">{% trans 'Your password can’t be a commonly used password.' %}</li>
                    <li id="msgs_li">{% trans 'Your password can’t be entirely numeric.' %}</li>
                </ul>     
              <input id="bt" type="submit" value="{% trans 'Set password' %}" />
          </form>
        </div>
      </center>
  </div>
  <div class="col-0 col-sm-4 col-md-4" >
  </div>
</div> 

{% else %}
  Password reset unsuccessful. Please <a href="{% url 'auth_password_reset' %}">try again.</a>
{% endif %}
{% endblock %}


{# This is used by django.contrib.auth #}
