{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Change password" %}{% endblock %}

{% block content %}
<style>
    #msgs {
        font-size: 10px;
        display: contents;
        text-align: left;
        list-style-position: inside;
    }  

    #msgs_li {
        width: 70%;
    }

    #bt {
        margin-top: 10px;
    }

    .helptext {
        display: block;
        font-size: 12px;
    }

    #label_custom {
        width: 40%;
        text-align: right; 
    }   

    #input_custom {
        width: 50%;
    }       
</style>
<div class="row align-items-start">
    <div class="col-0 col-sm-4 col-md-4" >
    </div>
    <div class="col-12 col-sm-4 col-md-4" >
      <center>
        <div id="main_form">
            <form method="post" action="">
                {% csrf_token %}
                <p>
                    <label id="label_custom" for="id_old_password">Senha Antiga:</label>
                    <input id="input_custom"type="password" name="old_password" autocomplete="current-password" autofocus="" required="" id="id_old_password">
                </p>
                <p>
                    <label id="label_custom" for="id_new_password1">Nova Senha:</label>
                    <input id="input_custom" type="password" name="new_password1" autocomplete="new-password" required="" id="id_new_password1">
                <p>
                    <label id="label_custom" for="id_new_password2">Confirmar Nova Senha:</label>
                    <input id="input_custom"type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2">
                </p>       
                <ul id="msgs">
                    <li id="msgs_li">Sua senha não pode ser muito semelhante às suas outras informações pessoais.</li>
                    <li id="msgs_li">Sua senha deve conter pelo menos 8 caracteres.</li>
                    <li id="msgs_li">Sua senha não pode ser uma senha comumente usada.</li>
                    <li id="msgs_li">Sua senha não pode ser totalmente numérica.</li>
                </ul>                             
                <input id="bt" type="submit" value="{% trans 'Change password' %}" />
            </form>
        </div>
    </center>
</div>
<div class="col-0 col-sm-4 col-md-4" >
</div>
</div>          
{% endblock %}


{# This is used by django.contrib.auth #}
