{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Password changed" %}{% endblock %}

{% block content %}
<div class="row align-items-start">
    <div class="col-0 col-sm-4 col-md-4" >
    </div>
    <div class="col-12 col-sm-4 col-md-4" >
        <center>
            <div class="alert alert-info custom-alert" role="alert">
                <p>Senha mudada com sucesso!</p>
            </div>
        </center>
    </div>
    <div class="col-0 col-sm-4 col-md-4" >
    </div>
</div> 

{% endblock %}


{# This is used by django.contrib.auth #}
