{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Password reset" %}{% endblock %}

{% block content %}
<div class="row align-items-start">
    <div class="col-0 col-sm-4 col-md-4" >
    </div>
    <div class="col-12 col-sm-4 col-md-4" >
        <center>
            <div class="alert alert-info custom-alert" role="alert">
                <p>
                    {% blocktrans %}
                    Enviamos um e-mail com um link para redefinir sua senha. por favor, verifique
                    seu e-mail e clique no link para continuar.
                    {% endblocktrans %}
                </p>
            </div>
        </center>
    </div>
    <div class="col-0 col-sm-4 col-md-4" >
    </div>
</div> 
{% endblock %}


{# This is used by django.contrib.auth #}
