{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Register for an account" %}{% endblock %}

{% block content %}
<style>
    #msgs {
        font-size: 10px;
        display: contents;
        text-align: left;
        list-style-position: inside;
    }  

    #msgs_li {
        width: 70%;
    }

    #bt {
        margin-top: 10px;
    }

    .helptext {
        display: block;
        font-size: 12px;
    }

    #label_custom {
        width: 30%;
        text-align: right; 
    }   

    #input_custom {
        width: 60%;
    }       
</style>
<div class="row align-items-start">
    <div class="col-0 col-sm-4 col-md-4" >
    </div>
    <div class="col-12 col-sm-4 col-md-4" >
      <center>
        <div id="main_form">
            <form method="post" action="">
                {% csrf_token %}
                <p class="required">
                    <label id="label_custom" for="id_username" class="required">Academia:</label>
                    <input id="input_custom" type="text" name="username" maxlength="150" autofocus="" required="" id="id_username">
                    <span class="helptext">{% trans 'Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.' %}</span>
                </p>            
                <p class="required">
                    <label id="label_custom" for="id_email" class="required">{% trans 'E-mail' %}:</label>
                    <input id="input_custom" type="email" name="email" required="" id="id_email">
                </p>
                <p class="required">
                    <label id="label_custom" for="id_password1" class="required">{% trans 'Password' %}:</label>
                    <input id="input_custom" type="password" name="password1" autocomplete="new-password" required="" id="id_password1">
                    <span class="helptext"></span>
                </p>
                <p class="required">
                    <label id="label_custom" for="id_password2 " class="required">{% trans 'Password confirmation' %}:</label>
                    <input id="input_custom" type="password" name="password2" autocomplete="new-password" required="" id="id_password2">
                    <span class="helptext">{% trans 'Enter the same password as before, for verification.' %}</span>
                </p>
                <ul id="msgs">
                    <li id="msgs_li">{% trans 'Your password can’t be too similar to your other personal information.' %}</li>
                    <li id="msgs_li">{% trans 'Your password must contain at least 8 characters.' %}</li>
                    <li id="msgs_li">{% trans 'Your password can’t be a commonly used password.' %}</li>
                    <li id="msgs_li">{% trans 'Your password can’t be entirely numeric.' %}</li>
                </ul>                   
                <input id="bt" type="submit" value="{% trans 'Submit' %}" />
            </form>
        </div>
    </center>
  </div>
  <div class="col-0 col-sm-4 col-md-4" >
  </div>
</div>            
{% endblock %}


{% comment %}
**registration/registration_form.html**
Used to show the form users will fill out to register. By default, has
the following context:

``form``
    The registration form. This will be an instance of some subclass
    of ``django.forms.Form``; consult `Django's forms documentation
    <http://docs.djangoproject.com/en/dev/topics/forms/>`_ for
    information on how to display this in a template.
{% endcomment %}
